.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(rgb(112, 112, 112), rgb(65, 65, 65))
}

.github-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.973);
}

#go-to-github {
  display: block;
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 20px 30px;
}

#user-avatar {
  width: 40px;
  border-radius: 20px;
}

.user-page {
  display: flex;
  flex-flow: column;
  background-color: rgba(245, 245, 245, 0.911);
  padding: 20px 40px;
  border: solid 1px black;
  width: 500px;
}

.user-page > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 40%
}